@keyframes shuting-down {
  from { opacity: 1; }
  to { opacity: 0; }
}

.app {
  .renderer {
    border-radius: 100%;
    margin-left: var(--offset-x);
    margin-top: var(--offset-y);
  }

  &__shutdown {
    position: fixed;
    z-index: 3;
    color: white;
    left: var(--offset-x);
    top: var(--offset-y);
    width: 100vmin;
    height: 100vmin;

    display: grid;
    place-items: center;

    font-family: 'Styrene';
    font-size: 3rem;
    line-height: 1.4;
    text-align: center;

    &::before {
      @include inset;
      z-index: -1;
      content: '';
      background: black;
      opacity: 1;
    }
  }

  &.is-shuting-down &__shutdown {
    animation: shuting-down var(--shutdown-delay, 1s) ease-in forwards;
  }

  &:not(.is-shuting-down) &__shutdown {
    opacity: 0;
  }
}
