.gamepad-menu {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__entry {
    line-height: 1;
  }

  &__entry[data-label]::before {
    font-size: 1.2rem;
    content: attr(data-label);
  }

  &__entry.is-selected &__value.is-selected {
    position: relative;
    width: fit-content;

    &::before, &::after {
      position: absolute;
      opacity: 0.7;
    }

    &::before {
      content: '‹\00a0\00a0\00a0';
      left: -1.5ch;
    }

    &::after {
      content: '\00a0\00a0\00a0›';
      right: -1.5ch;
    }
  }

  &__value:not(.is-selected) {
    display: none;
  }
}
