@import 'style/reset';
@import 'style/fonts';
@import 'style/helpers';

@import 'style/animations';
@import 'style/devices';

:root {
  // --theme: defined in app.json
  --text: white;
  --background: var(--theme);
}

@include html-no-scroll;

@import 'style/base';

@import 'components/App';
@import 'components/Button';
@import 'components/Cartel';
@import 'components/GamepadMenu';
@import 'components/Remote';
@import 'components/Renderer';
@import 'components/Select';
@import 'components/Splashscreen';

html {
  cursor: none;
}
